<h1>Login</h1>

<%= form_with(scope: :session, url: login_path) do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password  %>
    <%= form.password_field  :password  %>
  </div>

  <% if flash[:notice] %>
    <p class="flash notice"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="flash alert"><%= flash[:alert] %></p>
  <% end %>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>
